app/code/community/BSeller/SkyHub/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSeller Platform | B2W - Companhia Digital
 *
 * Do not edit this file if you want to update this module for future new versions.
 *
 * @category  BSeller
 * @package   BSeller_SkyHub
 *
 * @copyright Copyright (c) 2018 B2W Digital - BSeller Platform. (http://www.bseller.com.br)
 *
 * Access https://ajuda.skyhub.com.br/hc/pt-br/requests/new for questions and other requests.
 */
-->
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderListEntity">
                <xsd:sequence>
                    <xsd:element name="bseller_skyhub" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="bseller_skyhub_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="bseller_skyhub_channel" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="bseller_skyhub_invoice_key" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderEntity">
                <xsd:sequence>
                    <xsd:element name="bseller_skyhub" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="bseller_skyhub_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="bseller_skyhub_channel" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="bseller_skyhub_invoice_key" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
